!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Breakout
    %link(rel="stylesheet" href="../src/style.css")
  %body
    %canvas(id="gamecanvas" width="320" height="200")
    %script(src="../src/game.js")
