!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Jump
    %link(rel="stylesheet" href="../src/style.css")
  %body
    %canvas#gamecanvas(width="320" height="200")
    %script(src="../src/game.js")
